html{
	width: 100%;
}

body{
	width: 100%;
	background-color: #f9f9f9;
	font-family: "Microsoft YaHei","Crimson Text",sans-serif;
	overflow-x: hidden;
}

a{
	outline: none !important;
}

a:hover{
	text-decoration: none;
}

@font-face {
	font-family: "fzskbx";
	src: url("../fonts/fzskbx.eot"); /* IE9 */
	src: url("../fonts/fzskbx.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

	url("../fonts/fzskbx.woff") format("woff"), /* chrome、firefox */
	url("../fonts/fzskbx.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

	url("../fonts/fzskbx.svg#fzskbx") format("svg"); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Josefin Sans";
	src: url("../fonts/JosefinSans-Bold.eot"); /* IE9 */
	src: url("../fonts/JosefinSans-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */

	url("../fonts/JosefinSans-Bold.woff") format("woff"), /* chrome、firefox */
	url("../fonts/JosefinSans-Bold.ttf") format("truetypewww"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */

	url("../fonts/JosefinSans-Bold.svg#JosefinSans-Bold") format("svg"); /* iOS 4.1- */
	font-style: normal;
	font-weight: normal;
}

.clearfix{
	zoom: 1;
}

.clearfix:after{
	content: "";
	display: block;
	clear: both;
}

.main{
	background: #fff;
}

.banner-img > img{
	width: 100%;
	height: 100%;
}

.home-description{
	font-weight: 600;
	font-size: 20px;
    padding-top: 15px;
    padding-bottom: 25px;
    line-height: 29px;

}

.social a i{
	height: 40px;
	width: 40px;
	border: 1px solid #111;
	line-height: 40px;
	margin: 0 10px;
	color: #111;
	font-size: 20px;
	padding-bottom: 20px;
	}

.social a:hover i{
	color: #fff;
	border-color: #4E7CA0;
	background-color: #4E7CA0;
	}


@media (min-width: 778px)
{
		.main{
			height: 100vh;
			overflow: hidden;
		}

		.btn-group-vertical{
    		padding: 20px 87.5px;
    	}

    	.info{
			line-height: 28px;
		    font-size: 16px;
		    padding-top: 15px;
		    padding-right: 50px;
			text-indent: 2em;
		}

		.home-description{
			padding-right: 90px;
			padding-left: 90px;
			
		}
}
.img-whyck{
	width: 100%;
}
.btn-whyck{
	position: relative;
	overflow: hidden;
	background-color: #fff;
	color: transparent;
	border: 1px solid #111;
	border-radius: 0px !important;
	transition: all .6s ease-in-out;
	margin-bottom: 20px;

}

.btn-whyck:hover{
	border-color: #4E7CA0;
}

.btn-whyck:hover:before{
	left: -100%;
}

.btn-whyck:hover:after{
	left: 0;
}

.btn-whyck:after{
	display: block;
	position: absolute;
	font-family: "fzskbx";
	left: 100%;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 10px 60px;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
	background-color: #4E7CA0;
	transition: all .4s ease-in-out;
}

.btn-whyck:before{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 10px 60px;
	font-family: "Crimson";
	font-style: italic;
	font-size: 16px;
	color: #111;
	transition: all .6s ease-in-out;
}

.btn-about:after{
	content: "关于";
}

.btn-about:before{
	content: "About";
}

.btn-work:after{
	content: "工作";
}

.btn-work:before{
	content: "Work";
}

.btn-gallery:after{
	content: "作品";
}

.btn-gallery:before{
	content: "Gallery";
}

.btn-back{
	color: #111;
}

.btn-back:hover{
	background-color: #4E7CA0;
	color: #fff;
	transition: all .2s ease-in-out;
}

p{
	color: #585757;
	font-size: 16px;
	
}

.page{
	width: 100%;
	overflow-x: hidden;
}

.page-title{
	text-transform: uppercase;
	font-family: 'Josefin Sans';
}

/*Home Style*/
.logo{
	padding-top: 100px;
	text-transform: uppercase;
	font-size: 12px;
}

.logo h4{
	font-family: 'Josefin Sans';
}


footer{
	padding: 22px 0 10px 0;
	font-style: italic;
	}


.back{
    width: 170px;    
    font-family: "Crimson";
    font-size: 17px;
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    display: block;
    clear: both;
    margin-top: 70px;	 
}

.back i{
	margin-left: -40px;
    margin-right: 17px;
    font-size: 20px;
}


.form-control{
	margin-top: 30px;
	width: 75%;

}

.btn{
	padding: 10px 60px;
	height: 45px;
	font-size: 16px;
}
.copyrights{
	text-indent:-9999px;
	height:0;
	line-height:0;
	font-size:0;
	overflow:hidden;
}
.btn-group-vertical{
    font-family: "Josefin Sans";    
}

.about{
	font-family: "Josefin Sans";
	/*margin-top: 35px;*/
	/*margin-bottom: 25px;*/
	font-size: 32px;
	
}
.form-control{
	font-style: italic;
	border-radius: 0;
	font-family: "Crimson";
	font-size: 16px;
}

.page-title{
	
	font-size: 32px;
	font-family: "Josefin Sans";
}

.fa-heartbeat{
	    color: #4E7CA0;
}

::selection {
	color: #fff;
   	background-color: #4E7CA0;
}

.bottom{
	padding-right: 20px;
}

.page-title{
	position: relative;
	display: inline-block;
}

.page-title:after,.page-title:before{
	content: '';
	position: absolute;
	height: 1px;
	background-color: black;
	left: 0;
	margin: 2px;
}

.social{
	padding-bottom: 15px;
}

.submit{

	font-family: "Crimson";
	font-size: 16px;
}

.subtitle{
	/*font-style: italic;*/
	font-weight: 600;
	font-size: 20px;
	color: #3b3b3b;
	line-height: 28px;
	/*font-family: "Crimson";*/
	margin-top: 15px;
	margin-bottom: 20px;
	padding-right: 40px;
}

.page-title:after{
	width: 75%;
	top: -9px;
}

.page-title:before{
	width: 40%;
	bottom: -7px;
}

.watermark .marker{
	position: absolute;
	font-size: 45px;
	opacity: 0.1;
	font-family: "fzskbx";
	text-transform: uppercase;
	left: 0;
	top: 5px;
}

.watermark{
	position: relative;
}

.item{
	
	background-color: #313131;
	color: #f9f9f9;
}

#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
    /*margin-left: 0px;*/
}

.owl-theme .owl-controls {
    margin-top: 10px;
    margin-right: 10px;
    text-align: center;
    width: 100%;
    position: absolute;
    top: calc(44% - 40px);
		}

.owl-next{
	right: 0;
	padding-right: 1px;

}

.owl-prev{
	left: 0;
	padding-left: 1px;
}



.owl-theme .owl-controls .owl-nav [class*=owl-]{
	position: absolute;
	border-radius: 0px;
	font-size: 21px;
	padding: 15px 20px;
	margin: 0px;
	background-color: #fff; 

}

.owl-theme .owl-controls .owl-nav [class*=owl-] i{
	color: #333;
	
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background-color: #4E7CA0;
	border-color: #4E7CA0;
}

.owl-theme .owl-controls .owl-nav [class*=owl-]:hover i{
	color: #fff;
}

@media (max-width: 1024px) and (orientation: landscape){
	.main{
		height: auto;
	}
}

.custom_btn{
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;
}

.show{
	display: block;
}





/*------------------------------------*\
  # logo
\*------------------------------------*/


.c-logo{
	position: relative;
	width: 100px;
	height: 100px;
	margin: auto;
	overflow: hidden;
	/*background: #1E90FF;*/
}

	.c-logo-c{
		width: 100%;
		height: 100%;
		background: transparent;
	}

	.c-logo-c{
		position: absolute;
		top: 14%;
		left: 6%;
		display: block;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background: #3B3B3B;
		clip-path: polygon(40% 0, 8% 0, 0 8%, 0 52%, 8% 60%, 40% 60%, 40% 52%, 14% 52%, 8% 46%, 8% 15%, 15% 8%, 40% 8%);
		-webkit-clip-path: polygon(40% 0, 8% 0, 0 8%, 0 52%, 8% 60%, 40% 60%, 40% 52%, 14% 52%, 8% 46%, 8% 15%, 15% 8%, 40% 8%);
		transition: all .8s;
	}

	.c-logo-k{
		position: absolute;
		top: 30%;
		left: 50%;
		display: block;
		overflow: hidden;
		width: 100%;
		height: 100%;
		background: #3B3B3B;
		clip-path: polygon(0 0, 0 60%, 8% 60%, 8% 36%, 33% 60%, 45% 60%, 12% 30%, 45% 0, 33% 0, 8% 24%, 8% 0);
		-webkit-clip-path: polygon(0 0, 0 60%, 8% 60%, 8% 36%, 33% 60%, 45% 60%, 12% 30%, 45% 0, 33% 0, 8% 24%, 8% 0);
		transition: all .8s;
	}

	.c-logo:hover .c-logo-c{
		top: 44%;
		left: 0;
		clip-path: polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 12%, 100% 12%, 100% 12%, 0 12%, 0 12%, 0 12%);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 12%, 100% 12%, 100% 12%, 0 12%, 0 12%, 0 12%);
		transform: rotate(-225deg);
		transform-origin: 50% 6%;
	}

	.c-logo:hover .c-logo-k{
		top: 44%;
		left: 0%;
		clip-path: polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 12%, 100% 12%, 100% 12%, 0 12%, 0 12%);
		-webkit-clip-path: polygon(0 0, 0 0, 0 0, 100% 0, 100% 0, 100% 0, 100% 12%, 100% 12%, 100% 12%, 0 12%, 0 12%);
		transform: rotate(225deg);
		transform-origin: 50% 6%;
	}





/*------------------------------------*\
  # website item
\*------------------------------------*/


.website-item{
	position: relative;
}

	.website-item .clearfix{
		padding: 5px;
	}

	.website-item figure{
		padding: 10px 10px;
		margin: 0;
		transition: all .4s;
		box-sizing: border-box;
		cursor: pointer;
	}

		.website-item figure p{
			margin-bottom: 0;
		}

		.website-item figure>div{
			width: 100%;
			border: 1px solid #eee;
		}

			.website-item figure img{
				width: 100%;
			}

		.website-item figure p{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

			.website-item figure em{
				display: flex;
				align-items: center;
				margin-right: 10px;
				font-size: 12px;
				font-style: normal;
				color: #c3272b;
			}

				.website-item figure em .mcon-dashboard{
					font-size: 14px;
					margin-right: 4px;
				}


	.website-item figure:hover{
		box-shadow: 0px 0px 6px 1px #9e9e9e;
	}

	.web-item-header{
		font-size: 16px;
		line-height: 2;
	}

	.web-item-info,
	.web-item-tips{
		font-size: 12px;
		color: #909399;
	}





/*------------------------------------*\
  # mcon
\*------------------------------------*/


.mcon{
	vertical-align: middle;
	margin-right: 3px;
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/icomoon.eot?arrlps');
	src:  url('../fonts/icomoon.eot?arrlps#iefix') format('embedded-opentype'),
	url('../fonts/icomoon.ttf?arrlps') format('truetype'),
	url('../fonts/icomoon.woff?arrlps') format('woff'),
	url('../fonts/icomoon.svg?arrlps#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="mcon-"], [class*=" mcon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mcon-dashboard:before {
	content: "\f07d";
}
.mcon-light-bulb:before {
	content: "\f000";
}
.mcon-keyboard:before {
	content: "\e955";
}
.mcon-user:before {
	content: "\e971";
}
.mcon-earth:before {
	content: "\e9ca";
}

.mcon-dashboard{
	margin-left: 8px;
	margin-right: 0;
}



/*
 * 图片未加载出来时占位
 */
.bg-placeholder{
	width: 100%;
	height: 100%;
}
